div.menuBar,
	div.menuBar a.menuButton,
	div.menu,
	div.menu a.menuItem {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #ffffff;
	font-variant: small-caps;
}

div.menuBar {
	background-color: #EE3224;
	border: 0px outset #e0e0e0;
	padding: 4px 2px 4px 2px;
	text-align: left;
}

div.menuBar a.menuButton {
	background-color: transparent;
	border: 0px solid #EE3224;
	color: #ffffff;
	cursor: default;
	left: 0px;
	margin: 1px;
	padding: 2px 6px 2px 6px;
	position: relative;
	text-decoration: none;
	top: 0px;
	z-index: 100;
}

div.menuBar a.menuButton:hover {
	background-color: transparent;
	border: 0px outset #EE3224;
	color: #000000;
}

div.menuBar a.menuButtonActive,
	div.menuBar a.menuButtonActive:hover {
	background-color: #EE3224;
	border: 0px inset #EE3224;
	color: #ffffff;
	left: 1px;
	top: 1px;
}

div.menu {
	background-color: #eeeeee;
	left: 0px;
	padding: 0px 1px 1px 0px;
	position: absolute;
	top: 0px;
	visibility: hidden;
	z-index: 101;
	border-bottom-width: 1px;
	border-top-style: 1px;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
}

div.menu a.menuItem {
	color: #000000;
	cursor: default;
	display: block;
	text-decoration: none;
	white-space: nowrap;
	margin: 0px;
	padding-top: 3px;
	padding-right: 1em;
	padding-bottom: 3px;
	padding-left: 1em;
}

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
	background-color: #000000;
	color: #ffffff;
}

div.menu a.menuItem span.menuItemText {
}

div.menu a.menuItem span.menuItemArrow {
	margin-right: 3px;
}

div.menu div.menuItemSep {
	border: 0px inset #EE3224;
	margin: 4px 2px;
	color: #ffffff;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
