@charset "iso-8859-1";

/*******************************************************************************
*  skidoo_too_print.css : 2004.11.26
* -----------------------------------------------------------------------------
*  Print media stylesheet that removes the left and right columns as well as
*  the horizontal navigational element from a printed copy of the webpage.
*******************************************************************************/

#leftColumn, #rightColumn, #contentColumn, #SOWrap
{
	float: none;	/* since left and right columns are being hidden,
			   there's no need to float any columns. */
}
html>body #SOWrap
{
	width: auto;	/* help Opera out */
}
#rightColumn, #leftColumn, .hnav, .printHide
{
	display: none;	/* hide the left and right columns as well as the
			   horizontal navigation element(s). also hide any
			   designated elements that should not be pritned */
}
#outerColumnContainer, #innerColumnContainer, #pageWrapper
{
	border-width: 0;	/* hide various borders, including those used
				   to create the backgrounds for the left and
				   right columns */
}
#masthead, #footer
{
	border: solid 1px #000;
	border-width: 1px 0;
	padding: 0.5em;		/* add some borders to the masthead and footer
				   for presentation */
}
* html #footer
{
	/* \*/
		margin-top:	1em;
	/* help IE print space between the content and footer */
}
a, a:link, a:visited
{
	text-decoration: none;
	background-color: inherit;
	color: inherit;		/* we're printing, so there's no need to
				   differentiate links from regular text. so
				   remove any formatting the links get. */
}
body *
{
	background-color: #fff;
	color: #000;		/* simple catch-all to make sure we have no
				   colored items in the print out. delete this
				   if you want. */
}

/******************************************************************************/