body {
 position: relative;
 margin: 0px;
 padding: 0;
 font-size: 1.1em;
 font-family: verdana, arial, helvetica, sans-serif;
}
h1 {
 font-family: verdana, arial, helvetica, sans-serif;
 margin: 0 0 10px 0;
 padding: 0;
 color: #888;
}
h2 {
 font-family: verdana, arial, helvetica, sans-serif;
 margin: 0 0 5px 0;
 padding: 0;
 font-size: 1.1em;
}
Welkom {
 font-family: Georgia, Times New Roman, Times, serif;
 line-height: 1.1em;
 font-size: 1.6em;
 padding: 0;
}
.content>p {
 margin: 0;
}
.content>p+p {
 text-indent: 30px;
}
a {
 color: blue;
 font-family: verdana, arial, helvetica, sans-serif;
/* font-weight: 600;*/
 text-decoration: none;
}
a:link {
}
a:visited {
}
a:hover {
/* background-color: #ffffff;*/
}
p{
	margin-left:20px;
	margin-right:20px;
 line-height: 1.2em;
 font-size: 0.7em;
}

pp{
	margin-left:30px;
}
/* All the content boxes belong to the content class. */
.header {
 position: relative;
 width: auto;
 height:20
 min-width: 120px;
 margin: 0 210px 20px 170px;
 z-index: 300;
}


WelkomHeader {
 font-family: Georgia, Times New Roman, Times, serif;
 line-height: 1.6em;
 font-size: 1.7em;
 margin: 20px 20px 16px 20px;
 padding: 0;
}
Author {
 line-height: 1.1em;
 font-size: 1.0em;
 margin: 0 0 16px 20px;
 padding: 0;
 color:#CCCCCC;
}

watistext {
 line-height: 1.1em;
 font-size: 0.6em;
 margin: 0 0 0 0;
 padding: 0;
 color:grey;
}

welkomtekst {
 line-height: 1.0em;
 font-size: 0.6em;
 margin-left:30px;
 color:#000000;
 width:200px;
/* clear:right;*/
 padding:10px;
}

#header {
 position: absolute;
 width: 100;
 height:20
 top: 20px;
 left: 100px;
 z-index: 1;
 }

#Welkom {
 position: absolute;
 width: 597px;
 top: 270px;
 left: 0px;
 z-index: 10;
 background-color:#F6F8F5;
}

#faq {
 position: absolute;
 width: 597px;
 top: 270px;
 left: 0px;
 z-index: 10;
 background-color:#F6F8F5;
}
#back{
 position: absolute;
 width: 800px;
 top: 0px;
 left: 0px;
 z-index: 1;
}
#top {
 position: absolute;
 width: auto;
 top: 0px;
 left: 0px;
 z-index: 50;
}
#topfoto {
 position: absolute;
 width: auto;
 top: 8px;
 left: 207px;
 z-index: 70;
}
#rechterkolom {
 position: absolute;
 width: auto;
 top: 100px;
 left: 608px;
 z-index: 100;
}
#inlogbox {
	position:relative;
	width: auto;
	top: 0px;
	left:0px;
	z-index:100;
}
#videobox {
 position: relative;
 width: auto;
 top: 0px;
 left: 0px;
 z-index: 100;
}
#fotovideobox {
 position: relative;
 width: auto;
 top: -180px;
 left: 15px;
 z-index: 200;
}
#spotmetbox {
 position: relative;
 width: auto;
 top: -170px;
 left: -2px;
 z-index: 50;
}
#butintrovideo {
 position: relative;
 width: auto;
 top: -302px;
 left: 60px;
 padding: 10px;
 z-index: 100;
}
#watistext {
 position: relative;
 width: 140px;
 top: -300px;
 left: 75px;
 z-index: 100;
}

#line {
 position: absolute;
 width: auto;
 top: 247px;
 left: 0px;
 z-index: 100;
}
#pda {
 position: absolute;
 width: auto;
 top: 500px;
 left: 20px;
 z-index: 100;
}
#fototekst {
 position: absolute;
 width: auto;
 top: 138px;
 left: 251px;
 z-index: 100;
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:35px;
 color:#FFFFFF;
}
#fotoprev {
 position: absolute;
 background-color:#FF00CC;
 width:140px;
 height: 30px;
 top: 30px;
 left: -20px;
 z-index: 50000;
}
#fotonext {
 position: absolute;
 background-color:#FF00CC;
 width:140px;
 height: 30px;
 top: 30px;
 left: 140px;
 z-index: 50000;
}
#fotonavigatie {
	color:#6600FF;
}

#butinloggen {
 position: absolute;
 width: auto;
 top: 7px;
 left: 598px;
 z-index: 100;
}
#butmijnpagina {
 position: absolute;
 width: auto;
 top: 24px;
 left: 598px;
 z-index: 100;
}
#butmaakroute {
 position: absolute;
 width: auto;
 top: 50px;
 left: 598px;
 z-index: 100;
}

#tekst {
 position: absolute;
 width: auto;
 top: 20px;
 left: 250px;
 padding: 10px;
 z-index: 100;
}


#butwelkom {
 position: absolute;
 width: auto;
 top: 205px;
 left: 209px;
 z-index: 100;
}
#butroutes {
 position: absolute;
 width: auto;
 top: 205px;
 left: 296px;
 z-index: 100;
}
#butaanmelden {
 position: absolute;
 width: auto;
 top: 205px;
 left: 380px;
 z-index: 100;
}
#butfaq {
 position: absolute;
 width: auto;
 top: 205px;
 left: 513;
 z-index: 100;
}
