body {
	margin: 0px;
	padding: 0px;
# background : #575757;
	background: #660000;
	margin-bottom: 50px;
	color: #333;
	font-size: 11px;
	font-family: verdana, sans-serif;
}


#message {
	margin: 20px;
	padding: 8px;
	background: #FF6600;
	font-size: 14px;
	color: #ffffff;
	border: 1px solid #aa0000;
}

#message a {
	color: #FFFF66;
}

#highlitebox {
	margin: 20px;
	padding: 8px;
	background: #6666FF;
	font-size: 12px;
	color: #ffffff;
	border: 1px solid #0000FF;
}

#highlitebox a {
	color: #FFFF66;
}

.container {
	margin-top: 10px;
	margin-right: 100px;
	margin-left: 100px;
	width: 680px;
	background: #eeeeee;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

.containerwide {
	margin-top: 10px;
	margin-right: 100px;
	margin-left: 100px;
	width: 940px;
	background: #eeeeee;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

.containerfull {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	background: #eeeeee;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
}

#content {
	padding: 10px;
	margin-top: 10px;
}

p, h1, h2, h3, h4 {
	margin: 0px 14px 14px 14px;
	line-height: 150%;
}

a {
	color: #CC3333;
	text-decoration: none;
}

a:hover {
	color: #CC3333;
	text-decoration: underline;
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 14px;
	margin-bottom: 4px;
}

h2 a {
	color: #333;
	text-decoration: none;
}

h2 a:hover {
	color: #333;
	text-decoration: underline;
}

h3 {
	font-size: 12px;
	margin-bottom: 2px;
}

h1 a {
	font-weight: normal;
	text-decoration: none;
}

.small {
	font-size: 9px;
}

.mapmenu {
	font-size: 12px;
}

.mapmenu a:hover {
	color: #0000cc;
	text-decoration: none;
}

.mplayercapt {
	line-height: 150%;
	font-size: 12px;
	color: #ffffff;
}

