body {
 position: relative;
 margin: 0px;
 padding: 0;
 font-size: 1.1em;
 font-family: verdana, arial, helvetica, sans-serif;
}
h1 {
 font-family: verdana, arial, helvetica, sans-serif;
 margin: 0 0 10px 0;
 padding: 0;
 color: #888;
}
h2 {
 font-family: verdana, arial, helvetica, sans-serif;
 margin: 0 0 5px 0;
 padding: 0;
 font-size: 1.1em;
}
Welkom {
 font-family: Georgia, Times New Roman, Times, serif;
 line-height: 1.1em;
 font-size: 1.6em;
 margin: 0 0 16px 0;
 padding: 0;
}
.content>p {
 margin: 0;
}
.content>p+p {
 text-indent: 30px;
}
a {
 color: green;
 font-family: verdana, arial, helvetica, sans-serif;
/* font-weight: 600;*/
 text-decoration: none;
}
a:link {
}
a:visited {
}
a:hover {
/* background-color: #ffffff;*/
}
/* All the content boxes belong to the content class. */
.header {
 position: relative;
 width: auto;
 height:20
 min-width: 120px;
 margin: 0 210px 20px 170px;
 z-index: 300;
}
#header {
 position: absolute;
 width: 100;
 height:20
 top: 20px;
 left: 100px;
 z-index: 1;
 }

 #Welkom {
 position: absolute;
 width: 596px;
 top: 278px;
 left: 0px;
 z-index: 10;
 background-color:#F6F8F5;
}
WelkomHeader {
 font-family: Georgia, Times New Roman, Times, serif;
 line-height: 1.6em;
 font-size: 1.7em;
 margin: 20px 20px 16px 20px;
 padding: 0;
}
Author {
 line-height: 1.1em;
 font-size: 1.0em;
 margin: 0 0 16px 20px;
 padding: 0;
 color:#CCCCCC;
}
WelkomTekst {
 line-height: 1.0em;
 font-size: 0.6em;
 margin: 20px 20px 16px 20px;
 padding: 0;
 color:#000000;
 text-align:right;
/* clear:right;*/
 padding:10px;
}

#back{
 position: absolute;
 width: 800px;
 top: 0px;
 left: 0px;
 z-index: 1;
}

#logo {
 position: absolute;
 width: auto;
 top: 0px;
 left: 0px;
 z-index: 100;
}
#line {
 position: absolute;
 width: auto;
 top: 247px;
 left: 0px;
 z-index: 100;
}
#pda {
 position: absolute;
 width: auto;
 top: 500px;
 left: 20px;
 z-index: 100;
}
#fototekst {
 position: absolute;
 width: auto;
 top: 138px;
 left: 261px;
 z-index: 100;
 font-family:Georgia, "Times New Roman", Times, serif;
 font-size:35px;
 color:#FFFFFF;
}
#fotonavigatie {
	color:#6600FF;
}

#butinloggen {
 position: absolute;
 width: auto;
 top: 7px;
 left: 598px;
 z-index: 100;
}
#butmijnpagina {
 position: absolute;
 width: auto;
 top: 24px;
 left: 598px;
 z-index: 100;
}
#butmaakroute {
 position: absolute;
 width: auto;
 top: 58px;
 left: 603px;
 z-index: 100;
}

#tekst {
 position: absolute;
 width: auto;
 top: 20px;
 left: 250px;
 padding: 10px;
 z-index: 100;
}


#butintrovideo {
 position: absolute;
 width: auto;
 top: 274px;
 left: 664px;
 padding: 10px;
 z-index: 100;
}

#butroutes {
 position: absolute;
 width: auto;
 top: 204px;
 left: 220px;
 z-index: 100;
}
#butzoek {
 position: absolute;
 width: auto;
 top: 205px;
 left: 300px;
 z-index: 100;
}
#butaanmelden {
 position: absolute;
 width: auto;
 top: 204px;
 left: 392px;
 z-index: 100;
}
#butfaq {
 position: absolute;
 width: auto;
 top: 204px;
 left: 525;
 z-index: 100;
}
