body {
	position: relative;
	margin: 0px;
	padding: 0;
	font-size: 1.1em;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #5a3d1c;
	background: #00FF00 url(../media/images/back.gif );
}

img {
	border: 0;
}

h1 {
	font-family: Georgia, Times New Roman, Times, serif;
	line-height: 1.6em;
	font-size: 1.7em;
	margin: 20px 20px 16px 20px;
	padding: 0;
}

h2 {
	font-family: verdana, arial, helvetica, sans-serif;
	margin-left: 20px;
	padding: 0;
	font-size: 1.0em;
}


H3 {
	margin-left: 20px;
	font-size: 1.0em;
}

H4 {
	line-height: 1.1em;
	font-size: 0.6em;
	margin: 0 0 0 0;
	padding: 0;
}

.content>p {
	margin: 0;
}

.content>p+p {
	text-indent: 30px;
}

a {
	color: #98453D;
	font-family: verdana, arial, helvetica, sans-serif; /* font-weight: 600;*/
	text-decoration: underline;
	cursor: pointer;
}

a:link {
}

a:visited {
}

a:hover {
/* background-color: #ffffff;*/
}

p {
	margin-left: 20px;
	margin-right: 20px;
	line-height: 1.2em;
	font-size: 0.7em;
}


/* All the content boxes belong to the content class. */
.header {
	position: relative;
	width: auto;
	height: 20px;
	min-width: 120px;
	margin: 0 210px 20px 170px;
	z-index: 300;
}

#header {
	position: absolute;
	width: 100px;
	height: 20px;
	top: 20px;
	left: 100px;
	z-index: 1;
}

#status {
	position: absolute;
	top: -5px;
	left: 356px;
	z-index: 200;
	font-size: 0.6em;
	font-style: italic;
	color: #5a3d1c;

}

.pagina {
	position: absolute;
	width: 597px;
	top: 270px;
	left: 0px;
	z-index: 10;
	background-color: #F6F8F5;
}

.button {
	cursor:pointer;
}

#map {
	position: absolute;
	z-index: 200;
	display: none;
	margin-left: 5px;
	margin-top: 5px;
	width: 580px;
	height: 420px;
	border: 1px solid black;
	cursor:crosshair;
}

#mapanchor {
	position: relative;
	width: 580px;
	height: 400px;
}

#vasteroutes-lb {
	position: absolute;
	width: auto;
	top: 20px;
	left: 356px;
	z-index: 100;
}

#vaste_routes_content {
	position: absolute;
	width: 597px;
	top: 0px;
	left: 0px;
	z-index: 70;
	background-color: #F6F8F5;
}

#back {
	position: absolute;
	width: 800px;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#top {
	position: absolute;
	width: auto;
	top: 0px;
	left: 0px;
	z-index: 50;
}

#topfoto {
	position: absolute;
	width: auto;
	top: 7px;
	left: 210px;
	z-index: 70;
}

#rechterkolom {
	position: absolute;
	width: auto;
	top: 0px;
	left: 598px;
	z-index: 100;
}

#bovenbutlijn {
	position: relative;
	width: auto;
	top: -5px;
	left: -7px;
	z-index: 20;
}

#butinloggen {
	position: relative;
	width: auto;
	top: -10px;
	left: 0px;
	z-index: 200;
}

#butuitloggen {
	position: relative;
	width: auto;
	top: -10px;
	left: 0px;
	z-index: 200;
}

#butmijnpagina {
	position: relative;
	width: auto;
	top: -5px;
	left: 0px;
	z-index: 200;
}

#butmaakroute {
	position: relative;
	width: auto;
	top: -5px;
	left: 0px;
	z-index: 200;
}

#onderbutlijn {
	position: relative;
	width: auto;
	top: -5px;
	left: 0px;
	z-index: 100;
}

#inlogbox {
	position: relative;
	width: auto;
	top: -5px;
	left: 10px;
	z-index: 100;
}

#inlogform {
	position: relative;
	width: auto;
	top: -190px;
	left: 20px;
	z-index: 100;
}

#logforminlogbut {
	position: relative;
	width: auto;
	top: 0px;
	left: 20px;
	z-index: 200;
}

#balloon {
	position: relative;
	width: auto;
	top: 45px;
	left: 10px;
	z-index: 100;
}

#balloontext {
	position: relative;
	top: -220px;
	left: 15px;
	width: 195px;
	height: 128px;
	padding: 10px;
	z-index: 110;
	font-size: 0.7em;
	font-style: italic;
	overflow: auto;
}

#bullet {
	position: relative;
	width: auto;
	top: 25px;
	left: 8px;
	z-index: 50;
}

#fotovideobox {
	position: relative;
	width: auto;
	top: -185px;
	left: 25px;
	z-index: 200;
}

#generated-routes-image {
	position: relative;
	cursor: pointer;
	width: auto;
	border: 5px;
	border-color: white;
	top: -130px;
	left: 20px;
	z-index: 260;
}


#spotmetbox {
	position: relative;
	width: auto;
	top: -175px;
	left: 8px;
	z-index: 50;
}

#butintrovideo {
	position: relative;
	width: auto;
	top: -307px;
	left: 70px;
	padding: 10px;
	z-index: 100;
}

#watistext {
	position: relative;
	width: 140px;
	top: -305px;
	left: 85px;
	z-index: 100;
}

#line {
	position: absolute;
	width: auto;
	top: 247px;
	left: 0px;
	z-index: 100;
}

#pda {
	position: absolute;
	width: auto;
	top: 500px;
	left: 20px;
	z-index: 100;
}

#fototekst {
	position: absolute;
	width: auto;
	top: 138px;
	left: 251px;
	z-index: 100;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 35px;
	color: #FFFFFF;
}

#fototekst a {
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
}

#fotoprev {
	position: absolute;
	background-color: #FF00CC;
	width: 140px;
	height: 30px;
	top: 30px;
	left: -20px;
	z-index: 500;
}

#fotonext {
	position: absolute;
	background-color: #FF00CC;
	width: 140px;
	height: 30px;
	top: 30px;
	left: 140px;
	z-index: 500;
}

#fotonavigatie {
	color: #6600FF;
}

#tekst {
	position: absolute;
	width: auto;
	top: 20px;
	left: 250px;
	padding: 10px;
	z-index: 100;
}

#butwelkom {
	position: absolute;
	width: auto;
	top: 205px;
	left: 212px;
	z-index: 100;
}

#butroutes {
	position: absolute;
	width: auto;
	top: 205px;
	left: 296px;
	z-index: 100;
}

#butaanmelden {
	position: absolute;
	width: auto;
	top: 205px;
	left: 381px;
	z-index: 100;
}

#butfaq {
	position: absolute;
	width: auto;
	top: 205px;
	left: 513px;
	z-index: 100;
}

#triplist {
	margin-left: 20px;
	margin-right: 20px;
	line-height: 1.2em;
	font-size: 0.7em;	
}

#vasteroutes {
	margin-top: 10px;
	margin-left: 20px;
}
