#maakroutecontainer {
	position: relative;
	width: 597px;
	height: 600px;
	top: 0px;
	left: 0px;
	z-index: 50;
	background-color: #F6F8F5;
}

.slidertext {
	position: absolute;
	left: 420px;
	z-index: 50;
}

.slidercaption {
	text-align: center;
	line-height: 13px;
	font-size: 12px;
	position: absolute;
	left: 20px;
	z-index: 50;
	width: auto;
}

.radiocaption {
	text-align: center;
	line-height: 13px;
	font-size: 12px;
}

#radiobuttons {
	position: absolute;
	width: auto;
	top: 60px;
	left: 165px;
	z-index: 60;
}

#radiobuttons input {
	width: auto;
	text-align: left;
	padding: 0px;
	margin-right: 0px;
}
/*
#startpunt-lb {
	top: 30px;
	left: 15px;
}

#eindpunt-lb {
	top: 30px;
	left: 145px;
} */

#starteindpunt-lb {
	top: 30px;
	left: 35px;
}

#thema-lb {
	top: 30px;
	left: 165px;
}

#afstand-lb {
	top: 30px;
	left: 200px;
}


#butmaakeigenroute {
/*
	top: 420px;
 */
	position: absolute;
	width: 80px;
	top: 60px;
	left: 390px;
	z-index: 60;
}

#maakroutebox {
	position: absolute;
	width: auto;
	top: 30px;
	left: 565px;
	z-index: 50;
}

#caption1 {
	top: 123px;
/*	top: 223px; */
}

#s1 {
	position: absolute;
	top: 122px;
	left: 200px;
	z-index: 50;
}

#besloten {
	top: 120px;
}

#caption2 {
	top: 153px;
}

#s2 {
	position: absolute;
	top: 152px;
	left: 200px;
	z-index: 50;
}

#halfopen {
	top: 150px;
}

#caption3 {
	top: 183px;
}

#s3 {
	position: absolute;
	top: 182px;
	left: 200px;
	z-index: 50;
}

#open {
	top: 180px;
}

#caption4 {
	top: 213px;
}

#s4 {
	position: absolute;
	top: 212px;
	left: 200px;
	z-index: 50;
}

#bebouwd {
	top: 210px;
}

#caption5 {
	top: 243px;
}

#s5 {
	position: absolute;
	top: 242px;
	left: 200px;
	z-index: 50;
}

#bos {
	top: 240px;
}

#caption6 {
	top: 273px;
}

#s6 {
	position: absolute;
	top: 272px;
	left: 200px;
	z-index: 50;
}

#heizand {
	top: 270px;
}

#caption7 {
	top: 303px;
}

#s7 {
	position: absolute;
	top: 302px;
	left: 200px;
	z-index: 50;
}

#natuurgras {
	top: 300px;
}

#caption8 {
	top: 333px;
}

#s8 {
	position: absolute;
	top: 332px;
	left: 200px;
	z-index: 50;
}

#kleinwater {
	top: 330px;
}

#caption9 {
	top: 363px;
}

#s9 {
	position: absolute;
	top: 362px;
	left: 200px;
	z-index: 50;
}
/*
#kleinwater {
	top: 360px;
}

#caption10 {
	top: 393px;
}

#s10 {
	position: absolute;
	top: 392px;
	left: 200px;
	z-index: 50;
}

#kleinwater {
	top: 390px;
}  */

#total {
	position: absolute;
	width: 50px;
	top: 80px;
	left: 100px;
	z-index: 50;
}

#totaltekst {
	position: absolute;
	width: 50px;
	top: 170px;
	left: 100px;
	z-index: 50;
}



.listboxes {
	position: absolute;
	top: 130px;
	z-index: 50;
	width: auto;
}

.listboxes p {
	text-align: center;
	line-height: 8px;
}



#leguitbox {
	position: absolute;
	width: auto;
	top: 125px;
	left: 585px;
	z-index: 130;
}

#leguitbullet {
	position: absolute;
	width: auto;
	top: 290px;
	left: 578px;
	z-index: 120;
}

#leguittext {
/*	position: absolute;
	width: 200px;
	top: 150px;
	left: 605px;
	z-index: 135; */

	position: relative;
	width: auto;
	top: -185px;
	left: 25px;
	z-index: 200;
}

.genroutetekst {
	text-align: center;
	line-height: 13px;
	font-size: 12px;
	color: #660000;
}

#generated-routes {
	position: absolute;
	width: auto;
	top: 50px;
	left: 605px;
	z-index: 60;
}



#generated-routes-image-big {
	position: absolute;
	width: auto;
	top: 200px;
	left: 50px;
	z-index: 60;
}
