# template for security.properties
# this file should contain substitutions
# for symbolic values of credential setting during the build
# you should provide your own security.properties file
# matching properties of your settings
email.upload.host=the_pop3_host_like_pop3.foo.com
email.upload.email.test=the_email_address_for_uploads_mymedia@foo.com
email.upload.user.test=the_pop3_user_name
email.upload.password.test=the_pop3_password



