/*
.pane
{
	/*display:none;*/ /* default hidden while created */
	
	position:absolute;
	padding:0px;
	margin:0px;
	z-index:100;
	

}
.pane_bg,
.pane_bg img,
.pane_bg span
{
	position:absolute;
	padding:0px;
	margin:0px;
	z-index:100;
}

.pane .content
{
	position:absolute;
	left:5px;
	top:5px;
	
	z-index:110;
	
/*
	border:1px dotted #888888;
*/
	
	font-size:11px;
}

.pane .menu
{
	position:absolute;
	left:15px;
	top:5px;
	color:#b8b8b8;

}
.pane .menu a
{
	font-weight:normal;
	/*color:#80d092;*/
	/*color:rgb(128,208,146);*/
	color:#888888;
	text-decoration:none;
	
}
.pane .menu a:hover
{	
	text-decoration:none;
}

.pane .column
{
	width:340px;
	top:35px;
	height:230px;
	overflow:auto;
}
.pane .column a
{
	color:rgb(80,130,255);
	text-decoration:none;
}
.pane .column a:hover
{
	color:rgb(80,130,255);
	text-decoration:underline;
}

.pane .subheader
{
	position:absolute;
	left:15px;
	width:130px; /* default for 160px pane */
	background:url('../media/line.gif')  repeat-x 0px 7px;
	/*margin-bottom:6px;*/
}
.pane .subheader span
{
	background:url('../media/noline.gif')  repeat-x 0px 7px;
	margin-left:15px;
	padding:0px 4px;
	color:#222222;
}
.pane .centered
{
	width:100%;
	text-align:center;
}
.pane a
{
	text-decoration:underline;
	color:black;
}
.pane a:hover
{
	text-decoration:none;
	color:black;
}

.pane div
{
	position:absolute;
}

.pane .cmt_target_group
{
	padding:4px;
	position:relative;
	width:205px;
	border:1px solid #cecece;
	margin-bottom:10px;
}

.pane .slider_header
{
/*
	margin:0px 0px 27px 15px;
*/
	position:absolute;
	left:30px;
	color:rgb(108,150,255);
	/*font-style:italic;*/
}


.pane .check
{
	font-size:11px;
}

.pane .check a
{
	text-decoration:none;
	color:#777777;
	font-style:normal;
}
.pane .check a:hover
{
	color:#000000;
	text-decoration:none;
}

.pane .check img
{
	border:0px;
	width:11px;
	height:12px;
	vertical-align:top;
	margin-right:2px;
}




.pane_x
{
	position:absolute;
	left:140px;
	top:5px;
	cursor:pointer;
}




.pane #addedtags
{
	left:10px;
	top:5px;
	width:425px;
	height:40px;
	
	overflow:hidden
}

/*
.pane #addedtags container
{
	position:relative;
}
*/
.pane #addedtags .tag
{
	padding-bottom:2px;
	padding-left:8px;
	
	background:url('../media/tag_bg.gif') no-repeat left top;
}


.pane .addedtag
{

/*
display:inline;
position:relative;
*/

	/*margin-left:5px;*/
	
	padding-bottom:2px;
	padding-left:8px;
	
	background:url('../media/tag_bg.gif') no-repeat left top;

/*
	border:1px dotted red;
*/
}

.pane .tagclose
{
	cursor:pointer;
	vertical-align:text-top;
	margin-bottom:5px;
}
*/
