/* Following are the presentation styles -- edit away! */

body {
	background: #f6f6f6 none 0px 0px no-repeat;
	color: #666666;
	font: 2em "Lucida Grande", Verdana, Helvetica, sans-serif;
}

:link {
	color: #666;
	font: 24px "Lucida Grande", Verdana, Helvetica, sans-serif;
}

:visited {
	color: #666;
	font: 24px "Lucida Grande", Verdana, Helvetica, sans-serif;
}

#controls :active {
	color: #88A !important;
}

#controls :focus {
	outline: 1px dotted #227;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	background: transparent;
	font: 24px "Lucida Grande", Verdana, Helvetica, sans-serif;
}

h4 {
	color: #ff8e02;
	font: 14px "Lucida Grande", Verdana, Helvetica, sans-serif;
	padding-left: 40px;
}

ul, pre {
	margin: 0;
	line-height: 1em;
}

html, body {
	margin: 0;
	padding: 0;
}

blockquote, q {
	font-style: italic;
}

blockquote {
	padding: 0 2em 0.5em;
	margin: 0 1.5em 0.5em;
	text-align: center;
	font-size: 1em;
}

blockquote p {
	margin: 0;
}

blockquote i {
	font-style: normal;
}

blockquote b {
	display: block;
	margin-top: 0.5em;
	font-weight: normal;
	font-size: smaller;
	font-style: normal;
}

blockquote b i {
	font-style: italic;
}

kbd {
	font-weight: bold;
	font-size: 1em;
}

sup {
	font-size: smaller;
	line-height: 1px;
}

.slide code {
	padding: 2px 0.25em;
	font-weight: bold;
	color: #533;
}

.slide code.bad, code del {
	color: red;
}

.slide code.old {
	color: silver;
}

.slide pre {
	padding: 0;
	margin: 0.25em 0 0.5em 0.5em;
	color: #533;
	font-size: 90%;
}

.slide h2, .slide p, .slide a {
	color: #222222;
	font: 26px "Lucida Grande", Helvetica, sans-serif;
}

.slide h3 {
	font: 16px "Lucida Grande", Helvetica, sans-serif;
}
.slide pre code {
	display: block;
}

.slide ul {
	margin-right: 7%;
	margin-left: 5%;
	list-style: disc;
	color: #222222;
	top: 6em;
	font: 24px "Lucida Grande", Helvetica, sans-serif;
}

.slide li {
	margin-top: 0.75em;
	margin-right: 0;
}

.slide ul ul {
	line-height: 1;
}

.slide ul ul li {
	margin: .2em;
	font-size: 85%;
	list-style: square;
}

.slide img.leader {
	display: block;
	margin: 0 auto;
}

div#header, div#footer {
	height: 30px;
	padding: 30px 0 1em;
	background: #eee;
	color: #666666;
	font: normal 16px "Lucida Grande", Verdana, Helvetica, sans-serif;
	display: block;
}

div#header {
	background: transparent repeat-x url( header_back.png );
	text-align: right;
}

div#footer {
	background: transparent repeat-x url( footer_back.png );
	font-style: italic;
	text-align: left;
}

#footer h1, #footer h2 {
	display: block;
	padding: 0 1em;
}

#footer h2 {
	font-style: italic;
}

div.long {
	font-size: 0.75em;
}

.slide h1 {
	position: absolute;
	top: 20px;
	left: 72px;
	z-index: 1;
	white-space: nowrap;
	font: bold 42px "Lucida Grande", Verdana, Helvetica, sans-serif;
	text-transform: capitalize;
	color: #ff8e02;
	background: transparent;
	padding-left: 50px;
}

h1 abbr {
	font-variant: small-caps;
}

div#controls {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 50%;
	text-align: right;
	font: bold 0.9em Verdana, Helvetica, sans-serif;
}

html>body div#controls {
	position: fixed;
	padding: 0 0 1em 0;
	top: auto;
}

div#controls form {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}

#controls #navLinks a {
	padding: 0;
	margin: 0 0.5em;
	background: transparent;
	border: none;
	color: #666666;
	cursor: pointer;
	font-size: 24px;
}

#controls #navList {
	height: 1em;
}

#controls #navList #jumplist {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #c9c9c9;
	color: #666666;
}

#currentSlide {
	text-align: center;
	color: #666;
	font: 12px "Lucida Grande", Verdana, Helvetica, sans-serif;
}

#slide0 {
	padding-top: 3.5em;
	font-size: 90%;
}

#slide0 h1 {
	position: static;
	white-space: normal;
	color: #000000;
	background: transparent;
	text-align: center;
	font: bold 1.8em "Lucida Grande", Verdana, Helvetica, sans-serif;
}

#slide0 h2 {
	font: bold bold 20px "Lucida Grande", Verdana, Helvetica, sans-serif;
	color: #aaaaaa;
	left: 160px;
	margin-top: 6em;
	position: absolute;
}

#slide0 h3 {
	color: #ff8e02;
	margin-top: 3em;
	font: bold 28px "Lucida Grande", Verdana, Helvetica, sans-serif;
	text-align: center;
}

#slide0 h4 {
	margin-top: 0;
	font-size: 18px;
}

ul.urls {
	list-style: none;
	display: inline;
	margin: 0;
}

.urls li {
	display: inline;
	margin: 0;
}

.note {
	display: none;
}

.external {
	border-bottom: 1px dotted gray;
}

html>body .external {
	border-bottom: none;
}

.external:after {
	content: " \274F";
	font-size: smaller;
	color: #77B;
}

.incremental, .incremental *, .incremental *:after {
	color: #DDE;
	visibility: visible;
}

img.incremental {
	visibility: hidden;
}

.slide .current {
	color: #B02;
}

/* diagnostics

li:after {content: " [" attr(class) "]"; color: #F88;}
 */